ANALYST/
DEV/
archived_DEV/
working_indexes/
analyst.zip
developer.zip
mehmet_MS1.py
InvertedIndex.txt
log.txt
out.prof
analyst.shelve
dev.shelve
log_dev.txt
complete_index.txt
docID_to_url.txt
file_paths.txt
index_of_index.txt
index0.txt
index1.txt
index2.txt
index3.txt
index4.txt
index5.txt
index6.txt
index7.txt
index8.txt
index9.txt
REPORT.txt