DEV/
ingore/
err.txt
full_index.txt
full_index2.txt
index0.txt
index1.txt
index2.txt
index3.txt
index4.txt
index5.txt
index6.txt
index7.txt
index8.txt
InvertedIndex.txt
temp.txt
index_of_index.shelve
index_of_index2.shelve
docID_urls.shelve
igonregit/
playground/