DEV/
ignore/
igonregit/
ingore/
playground/
docID_urls.shelve
err.txt
full_index2.txt
index_of_index.shelve
index_of_index2.shelve
index3.txt
index4.txt
index5.txt
index6.txt
index7.txt
index8.txt
temp.txt